// Specify box sizing
* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

// Reset default indents
body,
h1,
h2,
h3,
h4,
p,
nav,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

// Set the main default settings for the body
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

// Remove the default styling for all ul and il
ul,
ol,
li {
	list-style: none;
}

// A elements that do not have a class are reset to default styles
a {
	text-decoration-skip-ink: auto;
	text-decoration: none;

	&:not([class]) {
		text-decoration-skip-ink: auto;
		text-decoration: none;
	}
}

// Making it easy to work with images
img {
	max-width: 100%;
	display: block;
}

// Specify a clear periodicity in the data flow of the article
article > * + * {
	margin-top: 1em;
}

// Inheriting fonts for inputs and buttons
input,
button,
textarea,
select {
	font: inherit;
}

// Removing all animations and transitions for people who prefer not to use them
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

// Smooth scroll
@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}
